/* Root */
:root {
    --lightgray: rgba(0, 0, 0, 0.4);
    --dark: #000000;
    --light: #ffffff;
    --blue: blue;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 700px;
    margin: 5rem auto;
    background-color: var(--light);
}

/* Fonts */
p {
    line-height: 1.4;
    padding: 2rem 0;
}

p,
h2,
li {
    font-size: 1.6rem;
}

h1,
h2,
p,
li {
    color: var(--dark);
}

ol {
    padding: 1rem 0 1rem 4rem;
}

h2 {
    font-weight: 500;
}

.form input[type="number"] {
    width: 200px;
}

.lastResult {
    color: white;
    padding: 3px;
}

.tip {
    background-color: yellow;
    padding: 1rem 0 1rem 1rem;
}

.bold {
    font-weight: 600;
}



/* Main */

h1 {
    font-size: 2.4rem;
    padding-bottom: 1rem;
    font-weight: 400;
}

input,
label,
button {
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid;
    padding: 1.25rem 2.5rem;
    font-size: 1.3rem;
}

label {
    border: none;
    padding-left: 0;
    font-weight: 500;
    font-size: 1.6rem;
}

input[type="submit"]:hover,
button:hover {
    cursor: pointer;
    background-color: blue;
    color: var(--light);
    border: 2px solid var(--dark);
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    :root {
        --lightgray: rgba(255, 255, 255, 0.6);
        --dark: #fafafa;
        --light: #121212;
    }

    input,
    label {
        color: var(--dark);
        background-color: var(--light);
    }

    input[type="submit"]:hover,
    button:hover {
        background-color: blue;
        color: var(--dark);
        border: 2px solid var(--dark);
    }

    li {
        color: var(--dark);
    }

    .tip {
        color: var(--light);
        padding: 0;
    }


}

@media screen and (max-width: 699px) {
    body {
        margin: 5rem 1.5rem;
    }

}